version: "3.2"
services:
  rabbitmq:
    image: rabbitmq
    container_name: analitics-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    networks:
      - app
    deploy:
      resources:
        limits:
          cpus: 0.10
          memory: 256M
        reservations:
          cpus: 0.10
          memory: 128M
    restart: unless-stopped
    
  redis:
    image: redis/redis-stack-server
    restart: always
    stdin_open: true
    container_name: analitics-redis
    tty: true
    ports:
      - "6379:6379"
      - "8010:8001"
    deploy:
      resources:
        limits:
          cpus: 0.10
          memory: 256M
        reservations:
          cpus: 0.10
          memory: 128M
    networks:
      - app
  
  app:
    build:
      context: ../
      dockerfile: Docker/Dockerfile
    container_name: analitics-server
    tty: true
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: 0.20
          memory: 512M
        reservations:
          cpus: 0.25
          memory: 128M
    networks:
      - app
    ports:
      - "8000:80"
      - "443:443"
    depends_on:
      - rabbitmq
      - redis
  
networks:
  app:
    driver: bridge